
/* BACKEND WORDPRESS */

.wp-block {
	max-width: 100% !important;
}

.status-awaiting-shipment  {
	background: cornflowerblue !important;
	color: #fff !important;
}

.status-cancelled {
	background: brown !important;
	color: #fff !important;
}
