/* STILI GENERALI */

:root {
  --primary: #E71D73;
  --secondary: #858a8f;
}

* {
  outline: none;
  transition: all 0.5s ease !important;
}

h1 {
  font-size: 46px;
  line-height: 40px;
}

h2 {
  font-size: 40px;
  color: #222;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 28px;
}

h6 {
  font-size: 22px;
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 30px;
  font-size: 16px;
  color: #666;
}

/* LAYOUT */

.FullWidth {
  width: 100%;
}

.SiteWidth {
  width: 1280px;
  margin: 0 auto;
}

.HalfWidth {
  width: 900px;
  margin: 0 auto;
}

.Width33 {
  width: 33%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* HEADER E MENU */

.TopContainer {
  flex-direction: row;
}

.LogoContainer img {
  height: 100px;
}

.TopMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.FonteDesc {
  font-size: 12px;
}

.Header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}

.ShadowHeader {
  box-shadow: 0 10px 90px 10px #333;
}

.TopContainer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.MobileMenuContainer {
  display: none;
}

.avatar {
  display: none !important;
}

.HelpMenuContainer .menu-item a {
  padding-top: 10px;
}

.HelpMenuContainer .menu-item a:hover {
  text-decoration: none;
  cursor: default !important;
}

.HelpMenuContainer .menu-item img {
  float: left;
  margin-right: 8px;
  margin-top: -4px;
  margin-left: 0;
  height: 20px !important;
}

.MenuDesc {
  text-align: left;
  margin-top: 12px;
  font-size: 11px;
  line-height: 18px;
  display: none;
}

.LogoTab {
  text-align: center;
}

#menu-menutop a {
  color: #000;
  font-size: 12px;
}

#menu-menutop a:hover {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

.chw-widget img {
  width: 100% !important;
}

.MenuDescVisible {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

.MainFooter {
  background-color: #f2f2f2;
  padding-top: 40px;
  margin-top: 50px;
  padding-bottom: 40px;
}

.CopyrightMainContainer {
  margin-top: 30px;
  font-size: 10px;
  text-align: center;
  color: #999;
}

.FooterMenuBar {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
}

.FooterDataBar {
  font-size: 10px;
  font-family: Arial !important;
  text-align: center;
}

.MobileTitle {
  display: none !important;
}

.FooterBadge {
  text-align: center;
  font-size: 11px;
  color: #fff;
}

.FooterBadge a  {
  color:#fff;
  text-decoration: underline;
}

.FooterMainCol {
  color: #222;
  font-size: 15px;
}

.FooterMainCol a {
  font-weight: bold;
  color: var(--primary) !important;
  font-size: 15px !important;
}

.FooterMainCol img {
  height: 25px !important;
  margin-right: 5px;
}

.FooterCol {
  text-align: center;
}

.FooterCol li {
  color: #000;
  padding: 0;
  text-align: center !important;
  padding-top: 5px;
  text-align: left;
}

.FooterCompanyTitle {
  font-size: 22px !important;
  font-weight: bold;
  margin-bottom: 20px;
}

.FooterCol a {
  color: #222;
  font-weight: normal !important;
}

.FooterCol a:hover {
  color: var(--primary);
  text-decoration: none !important;
}

.AdsFooter {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding-bottom: 45px;
}

.AdsFooter a {
  width: 25%;
}

.FooterCredits {
  font-size: 10px;
  font-family: Arial !important;
  text-align: right;
  padding-top: 30px;
  color: #999;
}

.FooterDataBar a,
.FooterCredits a {
  text-decoration: underline;
  color: #222 !important;
}

.FooterBadgeBar img {
  height: 25px !important;
}

.FooterTitle {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.FooterAdsDesc {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.AdBoxTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AdBoxTop img {
  height: 45px;
  margin-right: 10px;
}

.AdBoxTop .FooterTitle {
  margin-bottom: 0 !important;
}

.SocialBadge {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* SLIDER  */

.SingleSlide {
  height: 550px !important;
  background-size: cover;
  background-position: center;
  display: flex !important;
  align-items:center;
}

.SingleSlideContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.SingleSlideTitle {
  font-size: 55px;
  line-height: 40px;
  line-height: 50px;
  margin: 0;
  width: 500px;
}

.SingleSlideSubTitle {
  margin-top: 25px;
  margin-bottom: 25px;
}

.FooterMenuBar a {
  font-size: 12px;
}

.FooterCol {
  text-align: left;
}

.NewsletterCol {
  width: 35%;
}

#mc-embedded-subscribe {
  height: 32px;
  font-size: 15px;
  border-radius: 10px;
  background: #222;
  color: #f2f2f2;
  width: 130px;
}

#mce-EMAIL {
  width: 250px;
  height: 30px;
  padding-left: 10px;
}

#menu-mainmenu .menu-item {
  text-decoration: none;
  padding-bottom: 5px;
  position: relative;
  border-top: 2px solid #d1d1d1;
}

#menu-mainmenu .menu-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#menu-mainmenu .menu-item:hover:after {
  width: 100%;
  left: 0;
}

#menu-mainmenu a:hover {
  text-decoration: none !important;
}

.menu-item a:hover {
  text-decoration: underline;
}

/* SETTINGS */

.DefaultMargin {
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.SearchTab input {
  height: 40px;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
  font-size: 13px;
  padding-left: 10px;
  color: #999;
}

/*  VARIE STRUTTURA  */

.LangSwitch {
  display: flex;
}

.lang-item {
  font-size: 20px;
}

.SearchInput {
  padding: 10px;
  border-radius: 20px;
  border: 4px solid #f2f2f2;
  font-size: 20px;
  color: var(--secondary);
}

#search-form {
  margin-left: 15px;
  margin-right: 15px;
  display: none;
}

.current-lang a {
  color: var(--primary);
}

.lang-item {
  margin-right: 5px;
}

.UtilityTab ul {
  display: inline-flex;
}

/* SLICK SLIDER  */

.SliderContainer {
  height: 550px;
  width: 100%;
  margin: auto;
  overflow-y: hidden;
}

#Slider {
  width: 100%;
}

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}

.slick-dots li {
  background-color: #666;
  margin-right: 5px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #fff;
}

.slick-dots button {
  background-color: transparent;
  border: 0;
  font-size: 0;
  visibility: hidden;
}

.slide-arrow {
  border: 0;
  background: #f2f2f2;
  color: #111111;
  font-weight: bold;
  cursor: pointer;
  width: 75px;
  height: 40px;
  background: var(--primary);
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
}

body .slick-dots .slick-active {
  background-color: var(--primary) !important;
}

/* PULSANTI E BOTTONI */

.MainButtonCTA {
  background-color: var(--primary) !important;
  color: #fff;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.MainButtonCTA:hover {
  color: #fff;
  box-shadow: 10px 10px 10px #22222226;
}

/* CONTACT FORM */

.wpcf7 {
  margin: 0 auto;
  width: fit-content;
}

.wpcf7 label {
  font-weight: bold;
  font-size: 12px;
}

.wpcf7-form {
  width: 500px;
}

.wpcf7 input,
.acf-form input,
#login_form input,
.woocommerce-Input {
  margin-top: 5px;
  height: 30px;
  border-radius: 10px;
  width: 100%;
  border: 0;
}

.wpcf7 input {
  color: #222 !important;
  font-size: 18px;
}

.wpcf7-textarea {
  margin-top: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  width: 100%;
}

div.wpcf7 input[type="file"] {
  border: 0;
}

.FormContainer {
  display: flex;
  align-items: center;
}

body .wpcf7-submit,
.acf-button {
  background-color: #222;
  color: #fff !important;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  height: 30px !important;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.wpcf7-submit:hover {
  box-shadow: 10px 10px 10px #22222226;
}

.wpcf7 input,
.acf-form input,
#login_form input,
.woocommerce-Input {
  height: 45px !important;
  color: #333;
}

/* ANIMAZIONI  */

.Zoom:hover {
  animation-name: Zoom;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes Zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
